<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--POST요청을 처리하는 form
    내부에는 input 2개를 가지며, 각각 username, password로 name을 가짐
URL: /members/login/ (members.url 사용, config.urls에 include하여 사용)
    name: members:login (url namespace를 사용)

POST 요청시, 예제를 보고 적절히 로그인 처리 한 후, index로 돌아갈 수 있도록 한다.-->

<h1>Login</h1>

<form method="POST">
    {% csrf_token %}
    <label for="username">username</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button type="submit">로그인</button>
</form>

</body>
</html>